# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_store
config.py
api_key = "RGAPI-9fdfa013-97bd-4af7-8deb-7947b9af5740"

my_encrypted_id = "9nEVtof3DmxVx1XGnYBE5NATYI4xG6kIlUfQ7MwdHdyICE4"
my_account_id = "icd_19Zopo7O27pfK1LnoBURSLn2s6TtRjuFNGMfjctX3nM"
my_puuid = "ANC0e-af0Z5andARsOkv7qk-cRL_y8GL9dFqd21g3E2KXzwgS554ZCyFThLozEjdtBD_m8nnzrT1hA"

second_encrypted_id = "9gHtb7X5uABfiwl3lwy09qaZJqR77m2YtD5DRfr8WQalJ94"
second_account_id = "FCKaJIH5EyTqXyuV-m7QFzP-AlNbXOLm650s2J2VjJG63oE"
second_puuid = "DlWrdj_UeXYZ_Ld0F0ZGWTAcAsPfRXZ5Ruz54070-xjnD8UAOZnNg9qlYJC2ieIVsOw4ZG3Hf8GMkw"

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
